body {
    height: 100%;
    background: #1d1d1d;
    font-family: calibri;
    font-size: 13px;
    padding-left: 250px;
    background: url(img/beach.png) no-repeat fixed center;
    background-color: rgb(97, 87, 87);
    background-blend-mode: overlay;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#hdr {
    position: absolute;
}

#hdr img {
    width: 560px; 
}

#hdrtxt {
    position: absolute;
    color: white;
    margin-left: 390px;
    margin-top: -30px;
    font-size: 20px;
    pointer-events: none;
    filter: drop-shadow(0px 1px black) drop-shadow(0 -1px black) drop-shadow(1px 0 black) drop-shadow(-1px 0 black);
}

#post {
    display: inline-block;
    position: absolute;
    margin-top: 52px;
    height: 738px;
    width: 560px;
    background: #FFF;
    border: 3px solid #261c1d;
    border-bottom-left-radius: 30px;
}

.sidebar {
    position: absolute;
    left: 585px;
    top: 0;
    min-width: 200px;
    color: rgb(121, 92, 87);
}

.links a {
    color: #FFF;
    text-decoration: none;
    padding: 6px 6px;
    display: inline-block;
    font-size: 16px;
}

.links a:hover {
    text-decoration: underline dotted;
    color: rgb(207, 130, 130);
    padding-left: 3px;
    transition: 0.3s;
}

hr {
    width: 120px;
    text-align: left;
    color: rgba(145, 91, 91, 0.466) !important;
}

#aes {
    position: absolute;
    margin-top: -350px;
    margin-left: 370px;
    z-index: -99;
}

#aes img {
    width: 390px;
    border: 3px solid #261c1d;
}

#aes2 {
    position: absolute;
    margin-top: -750px;
    margin-left: -40px;
}

#aes2 img {
    filter: drop-shadow(0px 1px black) drop-shadow(0 -1px black) drop-shadow(1px 0 black) drop-shadow(-1px 0 black);
    width: 120px;
}

@media screen and (max-width: 650px) {

    body {
        transform: scale(0.8);
        margin-left: -200px;
    }

    #post {
        width: 350px;
    }

    #hdrtxt {
        margin-left: 20px;
    }

    #hdr img {
        width: 350px;
    }

    .sidebar {
        margin-top: 750px;
        margin-left: -604px;
        background: rgba(0, 0, 0, 0.267); 
    }

    #aes {
        margin-left: 42px;
    }
}
