::-webkit-scrollbar {
    width: 10px;
    height: 20px;
    display: none;
}

::-webkit-scrollbar-track {
    background: #28668f;
}

::-webkit-scrollbar-thumb {
    background: #70b0b2;
}

::-webkit-scrollbar-thumb:hover {
    background: #404a4b;
    transition: 0.9s;
}

@font-face {
    font-family: ms gothic;
    src: url(https://file.garden/Zagf2LAXJwHlct9M/MSGOTHIC.TTF);
}

@font-face {
    font-family: bios;
    src: url(https://file.garden/Zagf2LAXJwHlct9M/newsite/Nintendo-DS-BIOS.ttf);
}

@font-face {
    font-family: ms pgothic;
    src: url(https://file.garden/Zagf2LAXJwHlct9M/MS%20PGothic.ttf);
}

@font-face {
    font-family: basiic;
    src: url(https://file.garden/Zagf2LAXJwHlct9M/basiic.ttf);
}

@font-face {
    font-family: cyborg;
    src: url(https://file.garden/Zagf2LAXJwHlct9M/CyborgSister.ttf);
}


#wait {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: scale(1.30);
}

body {
    background: url("https://file.garden/Zagf2LAXJwHlct9M/image_2024-07-04_012219749.png") no-repeat fixed center, linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    font-family: ms gothic;
    -moz-o-font-smoothing: grayscale;
    scrollbar-width: none;
}

html {
    scrollbar-width: 0px;
    -webkit-font-smoothing: none;
}

a {
    color: #dbdbdb;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    border: 0px;
    color: #50635d;
    background: #1b1d27;
    border-radius: 0px;
    padding-left: 3px;
    padding-right: 35px;
    box-shadow: none;
}

.train {
    display: inline-block;
    width: 480px;
    height: 90px;
}

.marq {
    color: white;
    filter: drop-shadow(0px 1px black) drop-shadow(0 -1px black) drop-shadow(1px 0 black) drop-shadow(-1px 0 black);
    font-family: ms gothic;
    font-size: 25px;
    line-height: 1.1em;
    padding: 0em;
    width: 370px;
}

p {
    margin: 0;
    color: black;
    font-size: 20px;
}

#hii {
    margin-top: -90px !important;
    width: 442px;
    height: 375px;
    border: 1px dotted white;
    padding: 3px 3px 3px 3px;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    background: #00000097;
}

#info {
    width: 490px;
    height: 290px;
    overflow-y: hidden;
    overflow-x: hidden;
    line-height: 15px;
    margin-top: 5px;
    margin-left: -12px;
    padding-top: 90px;
    padding-right: 15px;
    letter-spacing: 0.4px;
    font-family: bios;
    font-size: 14.2px;
}

#info mark {
    border: 0px;
    color: #34cdcf;
    font-size: 13.8px;
    background: #000000;
    border-radius: 0px;
    line-height: 5px;
    padding-left: 3px;
    padding-right: 4px;
}


#links {
    text-align: left;
    padding: 5px;
    width: 139px;
    height: 130px;
    margin-top: 20px;
    position: absolute;
    margin-left: -133px;
    padding-top: -2px;
    padding-bottom: 16px;
    top: -5px !important;
    margin: 10 auto;
    z-index: 6 !important;
    font-family: bios;
    font-size: 15px;
    font-weight: bold;
    line-height: 23px;
}

#links a {
    color: #dbdbdb;
}

#links a:hover {
    border: 0px;
    color: #50635d;
}


#statuscafe {
    padding: 0em;
    position: absolute;
    margin-left: -159px;
    margin-top: 179px;
    border: 1px dotted white;
    padding-left: 10px;
    padding-right: 10px;
    width: 130px;
    font-family: 'bios';
    background: #000000;
}

#statuscafe-username {
    margin-bottom: -0.1em;
    text-align: left;
    color: #6b6b6b;
    font-size: 12px;
    letter-spacing: 0.02em;
    background: transparent;
}

#statuscafe-content {
    font-size: 15px;
    text-align: left;
    background: transparent;
    letter-spacing: 0em;
    width: auto;
    padding: 5px;
    -webkit-text-stroke: 0.2px #1b1d27;
    color: #ebebeb;
}

mark {
    border: 0px;
    color: #34cdcf;
    font-size: 13.8px;
    background: #1b1d27;
    border-radius: 0px;
    line-height: 5px;
    padding-left: 3px;
    padding-right: 4px;
}

.marquee {
    width: 470px;
    height: 15px;
    right: 0px;
    padding: 3px;
    position: absolute;
    border-width: 2px;
    font-size: 14px;
    z-index: 1;
    padding-top: 2px;
    padding-bottom: 5px;
    border: 4px double #d1d1d1;
    margin-top: -62px;
    background: #000000;
    font-family: bios;
    color: #ebebeb;
}

.chatango {
    position: absolute;
    margin-top: 0px;
    z-index: -1;
    border: 2px solid #1b1d27;
}

.transring {
    position: absolute;
    font-family: "Bios";
    margin-top: -11px;
    right: 60px;
    width: 335px;
    color: white;
    transform: scale(0.7);
}

#current {
    position: absolute;
    width: 109px;
    margin-top: -10px; 
    padding-left: 2px;
    padding-right: 4px; 
    font-family: bios;
    height: 115px;
    z-index: 9;
    background:#00000099;
    border: 1px dashed rgb(141, 138, 138);
    top: 430px !important;
    left: 364px !important;
    color: white;

}

#basil {
    position: absolute;
    top: 430px !important;
    left: 370px !important;
}



#links h2 {
    position: relative;
    height: 20px;
    padding-bottom: 2px;
    width: 100%;
    font-size: 12px;
    font-family: ms gothic;
    background: url('https://file.garden/Zagf2LAXJwHlct9M/whe.gif');
    background-color: #2f2d33f1;
    background-blend-mode: soft-light;
    background-size: 160px;
    background-position-y: -30px;
    font-weight: bold;
    color: #1a1a7a;
    text-shadow: -1px 0 #b9dddf, 0 1px #b9dddf, 1px 0 #b9dddf, 0 -1px #FFFFFF;
    display: inline-block;
    margin: 0;
    padding-top: 3px;
}

#chiyuu {
    position: absolute;
    margin-left: -165px;
    margin-top: -50px;
    color: white; 
    font-family: bios; 
    filter:saturate(25%);
}

#chiyuu img {
    width: 200px; 
    filter:saturate(0%);
    filter: drop-shadow(0px 1px black) drop-shadow(0 -1px white) drop-shadow(1px 0 white) drop-shadow(-1px 0 black);
}



/* Below is the mobile optimisation. Mess with it if you want. */
@media only screen and (max-width: 640px) {

    body {
        background-size: cover;
    }

    #box {
        display: block;
        width: 100%;
        background-size: auto 100%;
    }


    #wait {
        left: -30px;
        transform: scale(0.8);
        top: 120px;
    }

    #hii {
        font-family: ms gothic;
        font-size: 13px;
    }

    #info {
        font-family: ms gothic;
        letter-spacing: -1px;
    }

    #links {
        margin-top: 425px;
        line-height: 23px;
        left: 495px;
        height: 125px;
        width: 125px;
        order: 3;
        z-index: 5;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 35px;
        font-family: ms gothic;
    }

    .chatango {
        display: none;
    }

    .transring {
        display: flex;
        left: -10px;
        margin-top: 143px;
    }

    #statuscafe {
        margin-left: 10px;
        margin-top: 380px;
        font-family: bios;
        letter-spacing: 0px;
    }

    #statuscafe-content {
        font-family: bios;
        letter-spacing: 0px;
    }

    .marquee {
        font-family: ms gothic;
    }

    #chiyuu {
        margin-left: 290px;
        margin-top: -590px;
    }

    #chiyuu img {
        width: 160px;
    }

    #current {
display: none; 
    }
}
