@font-face {
    font-family: bios;
    src: url(fonts/Nintendo-DS-BIOS.ttf);
}

@font-face {
    font-family: deltarune;
    src: url(fonts/undertale-deltarune-text-font-extended.ttf);
}

@font-face {
    font-family: dogica;
    src: url(https://file.garden/Zagf2LAXJwHlct9M/site%203/dogica.otf);
}

::-webkit-scrollbar {
    width: 10px;
    height: 20px;
    display: none;
}

#wait {
    height: 100px;
    width: 520px;
    margin: auto;
    margin-top: 280px;
    transform: scale(1.4);
}

#train {
    background-color: rgba(0, 0, 0, 0.904);
    border: 2px solid #00ffff;
    padding: 5px;
    font-size: 2px;
    width: 90%;
    height: 190px;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-gap: 5px 5px;
}

#wait2 {
    height: 100px;
    width: 140px;
    margin: auto;
    margin-top: -30px;
    transform: scale(1.25);
}

body {
    background: url("img/bg/delta.gif") no-repeat fixed center;
    background-color: #535461;
    background-blend-mode: overlay;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: deltarune;
    font-size: 20px;
    color: rgb(27, 27, 27);
    word-wrap: break-word;

}

a {
    color: rgb(168, 169, 179);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1.4px;
}

a:hover {
    color: rgb(230, 223, 221);
    background: black;
    padding-left: 2px;
    padding-right: 1px;
    text-decoration: none;
    padding-bottom: 1px;
    transition: 0.2s ease-in-out;
}

hr {
    border: 0.1px dashed rgb(126, 95, 113);
}

#train2 {
    background-color: rgba(25, 47, 54, 0.432);
    background-blend-mode: overlay;
    position: absolute;
    background: rgb(8, 8, 8);
    border: 1px solid white;
    padding: 5px;
    width: 110px;
    margin-left: 245px;
    margin-top: -59px;
    height: 145px;
    display: grid;
    grid-template-columns: 25% 70%;
    grid-gap: 5px 5px;
}

.side1 {
    grid-area: 'sidebar';
    grid-row: 2 / 4;
    padding: 2px;
    background-color: rgba(143, 143, 143, 0.034);
}

.head {
    grid-column: 1 / 4;
}

.main {
    grid-area: 'main';
    background-blend-mode: overlay;
    background-size: 170px;
    background-position-x: 210px;
    padding: 5px;
}

#about {
    width: auto;
    margin-top: -22px;
    font-size: 11px;
    color: white;
}

#about span {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 1px;
}

#about u {
    text-decoration: underline;
    text-decoration-style: dotted;
    color: rgb(238, 238, 238);
    background: rgb(97, 64, 80);
    padding: 2px;
    padding-bottom: 5px;
}

#links {
    margin-top: -25px;
    padding-left: 5px;
    font-size: 16px;
    width: auto;
    color: rgb(138, 138, 138);
}

.line {
    background: rgb(8, 8, 8);
    text-align: center;
    width: auto;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px solid white;
    border-bottom: 0px;
}

.line2 {
    background: rgb(64, 41, 65);
    text-align: center;
    width: auto;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.line3 {
    background: rgb(52, 50, 65);
    text-align: center;
    width: auto;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.latest {
    padding: 5px;
    width: 210px;
    height: 110px;
    font-size: 15px;
    margin-top: -19px;
    color: rgb(184, 187, 190);
}

.pagedoll {
    position: absolute;
    filter: drop-shadow(0px 1px black) drop-shadow(0 -1px black) drop-shadow(1px 0 black) drop-shadow(-1px 0 black);
    z-index: 99;
    pointer-events: none;
}

.pagedoll img {
    width: 60px;
    margin-left: 340px;
    margin-top: 0px;
    filter: saturate(70%)
}

.pagedoll img:hover {
    filter: opacity(20%);
}

.siteinfo {
    width: 220px;
    position: absolute;
    color: white;
    filter: drop-shadow(0px 1px black) drop-shadow(0 -1px black) drop-shadow(1px 0 black) drop-shadow(-1px 0 black);
    margin-left: 162px;
    margin-top: 30px;
}

.siteinfo span {
    color: rgb(24, 23, 23);
    padding-right: 2px;
    padding-left: 2px;
    background: rgb(233, 233, 233);
}

.siteinfo2 {
    width: 220px;
    font-size: 12px;
    position: absolute;
    color: rgba(241, 184, 184, 0.911);
    filter: drop-shadow(0px 1px black) drop-shadow(0 -1px black) drop-shadow(1px 0 black) drop-shadow(-1px 0 black);
    margin-left: -5px;
    margin-top: -22px;
}

.siteinfo2 span {
    color: rgb(24, 23, 23);
    padding-right: 2px;
    padding-left: 2px;
    background: rgb(233, 233, 233);
}

#statuscafe {
    padding: 0em;
    z-index: 120;
    line-height: 13px;
    position: absolute;
    margin-left: 47px;
    margin-top: -25px;
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    width: 180px;
    height: 30px;
    font-family: 'bios';

}

#statuscafe-username {
    margin-top: -40px;
    text-align: right;
    padding-right: 9px;
    color: #e7e5e5;
    font-size: 11px;
    letter-spacing: 0.02em;
    background: transparent;
    filter: drop-shadow(0 1px 1px rgb(19, 23, 26));
}

#statuscafe-content {
    font-size: 15px;
    margin-left: -10px;
    margin-top: -0px;
    text-align: center;
    background: #000;
    letter-spacing: 0em;
    width: 180px;
    height: 43px;
    color: #ebebeb;
    padding-left: 5px;
    padding-top: 3px; 
    filter: drop-shadow(0 1px 1px rgb(19, 23, 26));
}

#statuscafe-username a {
    padding-right: 2px;
    text-decoration: none;
    color: rgb(245, 212, 24);
    
}

#statuscafe-username a:hover {
    padding-right: 2px;
    color: rgb(236, 227, 227);
}

#statusbuddy {
    position: absolute;
    filter: drop-shadow(0px 1px black) drop-shadow(0 -1px black) drop-shadow(1px 0 black) drop-shadow(-1px 0 black);
}

#statusbuddy img {
    width: 100px;
    margin-top: -25px;
    margin-left: 65px;
    filter: saturate(60%);
}

#statusbuddy img:hover {
    filter: opacity(20%);
}

#lastfm {
    margin-left: 820px;
}

#float {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 5px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

#calendar {
    position: absolute;
}

.hud {
    position: absolute;
    margin-left: -64px;
    margin-top: -281px;
}

.action {
    position: absolute;
    top: -24px !important;
    margin-left: -53px;
    width: 244px;
    z-index: 99 !important;
}

.action img {
    margin: 3px; 
}

.action img:hover {
    filter: sepia(10) saturate(600%) brightness(150%);
}

.action a:hover {
    padding: 0px;
}



@media screen and (max-width: 650px) {

    #wait {
        transform: scale(0.7);
        margin-left: -60px;
    }

    #wait2 {
        transform: scale (0.7);
        margin-top: 80px;
        margin-left: 30px;
    }

    .pagedoll {
        margin-top: 20px !important;
        margin-left: -300px;
    }

    .pagedoll img {
        width: 42px; 
    }

    #calendar {
        margin-left: -121px; 
    }
}
