::-webkit-scrollbar {
    width: 10px;
    height: 20px;
    display: none;
}

::-webkit-scrollbar-track {
    background: #28668f;
}

::-webkit-scrollbar-thumb {
    background: #70b0b2;
}

::-webkit-scrollbar-thumb:hover {
    background: #404a4b;
    transition: 0.9s;
}

@font-face {
    font-family: ms gothic;
    src: url(https://file.garden/Zagf2LAXJwHlct9M/MSGOTHIC.TTF);
}

@font-face {
    font-family: bios;
    src: url(fonts/Nintendo-DS-BIOS.ttf);
}

@font-face {
    font-family: ms pgothic;
    src: url(https://file.garden/Zagf2LAXJwHlct9M/MS%20PGothic.ttf);
}

@font-face {
    font-family: basiic;
    src: url(https://file.garden/Zagf2LAXJwHlct9M/basiic.ttf);
}

@font-face {
    font-family: dogica;
    src: url(https://file.garden/Zagf2LAXJwHlct9M/site%203/dogica.otf);
}

@font-face {
    font-family: pixel1;
    src: url(https://file.garden/Zagf2LAXJwHlct9M/site%203/PIXELADE.TTF);
}

@font-face {
    font-family: bmspace;
    src: url(https://file.garden/Zagf2LAXJwHlct9M/site%203/BMSPA___.TTF);
}

#wait {
    position: absolute;
    top: 25%;
    left: 37%;
    transform: scale(1.6);
}

body {
    background: url("https://file.garden/Zagf2LAXJwHlct9M/edits/newbg.png") no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    font-family: ms gothic;
    -moz-o-font-smoothing: grayscale;
    scrollbar-width: none;
    overflow-y: hidden;
}

html {
    scrollbar-width: 0px;
    -webkit-font-smoothing: none;
}

a {
    color: #dbdbdb;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    border: 0px;
    color: #50635d;
    background: #515569;
    border-radius: 0px;
    padding-left: 3px;
    padding-right: 35px;
    box-shadow: none;
}

.train {
    display: inline-block;
    width: 480px;
    height: 90px;
}

.marq {
    color: white;
    filter: drop-shadow(0px 1px black) drop-shadow(0 -1px black) drop-shadow(1px 0 black) drop-shadow(-1px 0 black);
    font-family: ms gothic;
    font-size: 25px;
    line-height: 1.1em;
    padding: 0em;
    width: 370px;
}

p {
    margin: 0;
    color: black;
    font-size: 20px;
}

#hii {
    margin-top: 0px !important;
    width: 442px;
    height: 285px;
    z-index: 5;
    border: 2px ridge rgb(0, 0, 0);
    border-top-left-radius: 25px;
    padding: 3px 3px 3px 3px;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    background: #d9dee0c0;
    background-blend-mode: soft-light;
    background-image: url("https://file.garden/Zagf2LAXJwHlct9M/img-2024-09-13-02-31-49.png");
    background-size: cover;


}

#info {
    width: 490px;
    height: 320px;
    overflow-y: hidden;
    overflow-x: hidden;
    line-height: 15px;
    margin-top: 5px;
    margin-left: -12px;
    padding-top: 90px;
    padding-right: 15px;
    letter-spacing: 0.4px;
    font-family: bios;
    font-size: 14.2px;
}

#info mark {
    border: 0px;
    color: #34cdcf;
    font-size: 13.8px;
    background: #000000;
    border-radius: 0px;
    line-height: 5px;
    padding-left: 3px;
    padding-right: 4px;
}


#links {
    text-align: left;
    padding: 5px;
    width: 429px;
    height: 20px;
    margin-top: 53px;
    position: absolute;
    margin-left: 20px;
    padding-top: -2px;
    padding-bottom: 16px;
    top: -5px !important;
    margin: 10 auto;
    z-index: 90 !important;
    font-size: 16px;
    letter-spacing: -0.5px;
    line-height: 23px;
    color: #666869;
    font-family: pixel1;
}

#links a {
    color: #4c6268;
    background: rgb(199, 198, 198); 
    padding-left: 3px;
    padding-right: 3px;  
    border: 1px solid #4c6268;
    border-radius: 5px;  
    filter: drop-shadow(0 1px 1mm rgb(99, 113, 124));
}

#links a:hover {
    color: #b8d0d6;
    background: #4c6268; 
    padding-right: 5px;
    padding-left: 2px;
    font-weight: normal;
}


#statuscafe {
    padding: 0em;
    z-index: 120;
    line-height: 13px;
    position: absolute;
    margin-left: 167px;
    margin-top: 260px;
    border: 1px dotted rgba(24, 10, 10, 0.322);
    padding-left: 10px;
    padding-right: 10px;
    width: 130px;
    height: 15px;  
    font-family: 'bios';
    background: linear-gradient(280deg, rgba(95, 30, 30, 0.527) 20%, rgba(119, 152, 170, 0.651) 100%);
    border-bottom-right-radius: 10px; 
    filter: drop-shadow(0 1px 1mm rgb(19, 23, 26));
}

#statuscafe-username {
    margin-bottom: -0.1em;
    text-align: left;
    color: #f0d8d8;
    font-size: 11px;
    letter-spacing: 0.02em;
    background: transparent;
}

#statuscafe-content {
    font-size: 12px;
    margin-left: -10px; 
    text-align: center;
    background: transparent;
    letter-spacing: 0em;
    width: 140px;
    padding: 5px;
    color: #ebebeb;
    border-radius: 15px; 
    padding-left: 5px;
    filter: drop-shadow(0 1px 1px rgb(19, 23, 26));
    background: linear-gradient(280deg, rgba(95, 30, 30, 0.788) 20%, rgba(119, 152, 170, 0.904) 100%);
}

#statuscafe-username a:hover {
    padding-right: 2px;
    color: rgb(236, 227, 227);
}

#imood {
    position: absolute;
    margin-left: 258px;
    margin-top: -287.5px;
}

#imood img {
    border: 1px dotted white;
    width: 60px;
}

#imood a:hover {
    padding-right: 2px;
}

mark {
    border: 0px;
    color: #34cdcf;
    font-size: 13.8px;
    background: #1b1d27;
    border-radius: 0px;
    line-height: 5px;
    padding-left: 3px;
    padding-right: 4px;
}

.marquee {
    width: 326px;
    height: 15px;
    right: 65px;
    padding: 3px;
    position: absolute;
    border-width: 2px;
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 5px;
    z-index: -6;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 15px;
    margin-top: -40px;
    margin-left: 30px;
    background: linear-gradient(280deg, rgb(96, 120, 133) 20%, rgba(255, 255, 255, 0) 100%);
    font-family: bios;
    color: #ffffff;
}

.marquee a:hover {
    padding-right: 2px;
    color: white;
}

.chatango {
    position: absolute;
    margin-top: -130px;
    margin-left: 265px;
    z-index: 1;
    border: 2px solid #1b1d27;
}

.transring {
    position: absolute;
    font-family: "Bios";
    margin-top: -245px;
    right: 72px;
    width: 295px;
    z-index: 13;
    color: white;
    transform: scale(0.7);
}

.transring a:hover {
    padding: 2px;
    padding-right: 2px;
}


#contain_moon {
    position: absolute;
    color: #eaeff0;
    margin-top: -415px;
    line-height: 17px;
    margin-left: 375px;
    font-family: bios;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4822129535407913) 0%, rgba(95, 131, 143, 0.5578432056416316) 23%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 1px black) drop-shadow(0 -1px white) drop-shadow(1px 0 white) drop-shadow(-1px 0 black);
}

#moontext {
    position: absolute;
    color: #1e2122;
    margin-top: -365.5px;
    line-height: 17px;
    font-size: 14px;
    margin-left: 373.9px;
    text-shadow: -1px 0 #b9dddf, 0 1px #b9dddf, 1px 0 #b9dddf, 0 -1px #FFFFFF;
    font-family: bios;
}

#buttons {
    position: absolute;
    margin-top: -360px;
    margin-left: 280px;
}

#buttons img {
    width: 60px;
    border: 1px solid #30393a;
}

#links h2 {
    position: relative;
    height: 20px;
    padding-bottom: 2px;
    width: 100%;
    font-size: 12px;
    font-family: ms gothic;
    background: url('https://file.garden/Zagf2LAXJwHlct9M/whe.gif');
    background-color: #2f2d33f1;
    background-blend-mode: soft-light;
    background-size: 160px;
    background-position-y: -30px;
    font-weight: bold;
    color: #1a1a7a;
    text-shadow: -1px 0 #b9dddf, 0 1px #b9dddf, 1px 0 #b9dddf, 0 -1px #FFFFFF;
    display: inline-block;
    margin: 0;
    padding-top: 3px;
}

#aigis {
    position: absolute;
}

#aigis img {
    position: absolute;
    pointer-events: none;
    width: 440px;
    z-index: -5;
    margin-top: -190px;
    margin-left: 280px;
}

#snowflakes {
    pointer-events: none;
}

#webring {
    position: absolute;
    margin-top: 220px;
}

#flowers {
    position: absolute;
    margin-top: -8px;
    margin-left: -30px;
    z-index: 10;
}

#flowers img {
    width: 95px;
    filter: drop-shadow(0 1mm 1mm rgb(74, 129, 148));
}

#flowers img:hover {
    filter: opacity(30%);
    transition: 1s fadein;
}

#flowers2 {
    position: absolute;
    margin-top: 295px;
    margin-left: 430px;
    z-index: 10;
    pointer-events: none;
    filter: drop-shadow(0 1mm 1mm rgb(74, 129, 148));
}

#flowers2 img {
    width: 95px;
    filter: opacity(80%);
}

#pagebg {
    position: absolute;
    color: transparent;
    margin-top: -335px;
    margin-left: -5px;
    width: 452px;
    height: 335px;
    z-index: -5;
    border: 2px ridge rgb(0, 0, 0);
    filter: drop-shadow(0 -1mm 1mm rgb(99, 113, 124));
    padding: 3px 3px 3px 3px;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    background: #d9dee0c0;
    pointer-events: none;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}

#linkbg {
    position: absolute;
    color: transparent;
    margin-top: -365px;
    margin-left: -5px;
    width: 332px;
    height: 345px;
    z-index: -10;
    border: 2px ridge rgb(0, 0, 0);
    filter: drop-shadow(0 -1mm 1mm rgb(99, 113, 124));
    padding: 3px 3px 3px 3px;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    background: #d9dee0c0;
    pointer-events: none;
    border-radius: 30px;
    border-top-right-radius: 10px;  
}



/* Below is the mobile optimisation. Mess with it if you want. */
@media only screen and (max-width: 640px) {

    body {
        background-size: cover;
    }

    #box {
        display: block;
        width: 100%;
        background-size: auto 100%;
    }


    #wait {
        left: -40px;
        transform: scale(0.8);
        top: 130px;
    }

    #aigis {
        margin-left: -190px;
        transform: scale(1.2);
        z-index: -9;
    }

    #hii {
        font-family: ms gothic;
        font-size: 13px;
    }

    #info {
        font-family: ms gothic;
        letter-spacing: -1px;
    }

    .transring {
        display: flex;
        left: 50px;
        margin-top: 83px;
    }

    #statuscafe {
        margin-left: 10px;
        margin-top: 380px;
        font-family: bios;
        letter-spacing: 0px;
    }

    #statuscafe-content {
        font-family: bios;
        letter-spacing: 0px;
    }

    .marquee {
        font-family: ms gothic;
    }

    #imood {
        margin-left: 20px;
        margin-top: 90px;
    }

    #snowflakes {
        display: none;
    }
}
