@font-face {
    font-family: bios;
    src: url(fonts/Nintendo-DS-BIOS.ttf);
}

@font-face {
    font-family: deltarune;
    src: url(fonts/undertale-deltarune-text-font-extended.ttf);
}

@font-face {
    font-family: dogica;
    src: url(https://file.garden/Zagf2LAXJwHlct9M/site%203/dogica.otf);
}

html {
    cursor: cell;
}

::-webkit-scrollbar {
    width: 10px;
    height: 20px;
    display: none;
}

::selection {
    background: #e5bcff;
    color: black;
}

#wait {
    height: 100px;
    width: 270px;
    margin: auto;
    margin-top: 130px;
    transform: scale(1.6);

}

#train {
    background-color: #261f59;
    padding: 5px;
    font-size: 2px;
    width: 90%;
    height: 360px;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-gap: 5px 5px;
    border: 4px double #9f97db;


}

#ndiv,
#ndiv2,
#ndiv3 {
    position: absolute;
    min-height: 14px;
    height: 10px;
    background-image: url('img/nina2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    letter-spacing: 1px;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 3px;
    padding-left: 10px;
    border-bottom: 0px;
    color: #e5bcff;
    filter: drop-shadow(0px 2px black) drop-shadow(0 -1px black) drop-shadow(1px 0 black) drop-shadow(-1px 0 black);
}

#ndiv2 {
    margin-left: -240px;
    margin-top: -195px;
}

#ndiv3 {
    margin-left: 185px;
    margin-top: -45px;
    width: 120px;
    font-size: 11px;
}

#wawa {
    color: #e5bcff;
    filter: drop-shadow(0px 2px black) drop-shadow(0 -1px black) drop-shadow(2px 0 black) drop-shadow(-2px 0 black);
}

#linkpos {
    position: absolute;
    pointer-events: none;
    margin-left: -1px;

}

#linklist a {
    color: #e5bcff;
    transition: .5s ease all;
}

#linklist a:hover {
    transition: .5s ease all;
    padding: 0px;
    color: black;
    padding-top: 5px;
    background-color: #e5bcff;
    background-blend-mode: hard-light;
}

#l1 {
    margin-top: 75px;
    margin-left: 75px;
    width: 83px;
    height: 83px;
}

#l2 {
    margin-top: 21px;
    margin-left: 162px;
    width: 66px;
    height: 69px;
}

#l3 {
    margin-top: 7px;
    margin-left: 8px;
    width: 63px;
    height: 63px;
}

#l4 {
    margin-top: 80px;
    margin-left: 12px;
    width: 53px;
    height: 53px;
}

#l5 {
    margin-top: 100px;
    margin-left: 165px;
    width: 29px;
    height: 29px;
}

#l6 {
    margin-top: 135px;
    margin-left: 165px;
    width: 29px;
    height: 29px;
}

#l7 {
    margin-top: 120px;
    margin-left: 198px;
    width: 29px;
    height: 29px;
}

#l8 {
    margin-top: 170px;
    margin-left: 160px;
    width: 66px;
    height: 58px;
}


#l1,
#l2,
#l3,
#l4,
#l5,
#l6,
#l7,
#l8 {
    position: absolute;
    color: #e5bcff;
    text-align: center;
    filter: drop-shadow(0px 1px black) drop-shadow(0 -1px black) drop-shadow(1px 0 black) drop-shadow(-1px 0 black);
    font-size: 16px;
    background: rgba(255, 255, 255, 0);
    border: 2px solid #e5bcff;
    text-decoration: none;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.212);
}

#wait2 {
    height: 100px;
    width: 140px;
    margin: auto;
    margin-top: -30px;
    transform: scale(1.25);
}

body {
    background: url("img/bg/delta.gif") no-repeat fixed center;
    background-color: #3ca4be;
    background-blend-mode: hard-light;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: bios;
    font-size: 20px;
    color: rgb(27, 27, 27);
    word-wrap: break-word;

}

#wobble {
    color: rgb(154, 150, 204);
}



.side1 {
    grid-area: 'sidebar';
    grid-row: 2 / 4;
    padding: 2px;
    background-color: rgba(143, 143, 143, 0.034);
}

.head {
    grid-column: 1 / 4;
}

.main {
    grid-area: 'main';
    background-blend-mode: overlay;
    background-size: 170px;
    background-position-x: 210px;
    padding: 5px;
}

#about {
    width: auto;
    margin-left: -30px;
    margin-top: -22px;
    font-size: 14px;
    color: #e5bcff;
    filter: drop-shadow(0px 1px black) drop-shadow(0 -1px black) drop-shadow(1px 0 black) drop-shadow(-1px 0 black);
    z-index: 99 !important;
}

#about u {
    text-decoration: underline;
    text-decoration-style: dotted;
    color: rgb(238, 238, 238);
    background: rgb(97, 64, 80);
    padding: 2px;
    padding-bottom: 5px;
}

#transring {
    position: absolute;
    margin-top: 85px;
    margin-left: 190px;
    transform: scale(0.97);
    z-index: 9999;
}

#lastfm {
    margin-left: 820px;
}

#linklist {
    position: absolute;
    margin-top: -49px;
    margin-left: -30px;
    width: 230px;
    background-image: url("img/nina2.png");
    min-height: 230px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#kriselle {
    position: absolute;
    margin-top: -85px;
    margin-left: 40px;
    pointer-events: none;
    z-index: 2;
}

#kriselle img {
    width: 105px;
}

.shrine_content {
    display: none;
    position: absolute;
    overflow-y: hidden;
    left: 269px;
    width: 118px;
    margin-top: 4px;
    height: 18px;
    padding: 5px;
    background-color: #261f59;
    color: #e5bcff;
    font-size: 11px;
    border: 2px solid #d397db;
}

.link_content {
    display: none;
    position: absolute;
    left: 269px;
    width: 92px;
    height: 14px;
    margin-top: 42px;
    padding: 5px;
    background-color: #261f59;
    color: #e5bcff;
    font-size: 11px;
    border: 2px solid #d397db;
}

.link_content a {
    text-decoration: none;
    color: rgb(158, 156, 180);
    transition: .5s ease all;
}

.link_content a:hover {
    background: transparent;
    padding: 3px;
    color: white;
}

.sitemap_content {
    display: none;
    position: absolute;
    left: 269px;
    width: 95px;
    top: 256px;
    height: 45px;
    padding: 5px;
    background-color: #261f59;
    color: #e5bcff;
    font-size: 12px;
    border: 2px solid #d397db;
    z-index: 9999;
}

.sitemap_content a {
    text-decoration: none;
    color: white;
    transition: .5s ease all;
}

.sitemap_content a:hover {
    background: transparent;
    padding: 2px;

}

#calendar {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px !important;
    color: rgb(102, 171, 228);
    background: #000000;
    text-align: center;
    padding: 3px;
    padding-right: 4px;
    position: absolute;
    z-index: 1;
    width: auto;
    top: 68%;
    font-size: 9px;
    left: 55%;
}

.tooltiptext {
    border: 1px double rgb(172, 160, 160);
    font-size: 9px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;

}

.logo.js {
    width: 10%;
    height: 150%;
}

#calbg {
    position: absolute;
    background-color: #261f59;
    width: 80%;
    height: 110px;
    margin-top: 185px;
    margin-left: -80px;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-gap: 5px 5px;
    border: 4px double #9f97db;
    border-top: 0px;
    border-right: 4px ridge #9f97db4b;
    border-top: 4px ridge #9f97db4b;
}

#adpfp {
    position: absolute;
    margin-top: -170px;
    height: 54px;
    margin-left: -240px;
    color: #e5bcff;
    filter: drop-shadow(0px 1px black) drop-shadow(0 -1px black) drop-shadow(1px 0 black) drop-shadow(-1px 0 black);
    background: rgba(255, 255, 255, 0);
    border: 2px solid #e5bcff;
    text-decoration: none;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.212);
}

#adpfp img {
    width: 55px;
}

#adbio {
    position: absolute;
    background: #18143a;
    margin-top: -170px;
    height: 54px;
    width: 76px;
    margin-left: -179px;
    color: #e5bcff;
    padding-left: 10px;
    filter: drop-shadow(0px 1px black) drop-shadow(0 -1px black) drop-shadow(1px 0 black) drop-shadow(-1px 0 black);
    font-size: 14px;
    border: 2px solid #e5bcff;
    text-decoration: none;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.212);
}

#rover2 {
    position: absolute;
    margin-top: 100px;
    height: 86px;
    margin-left: -240px;
    color: #e5bcff;
    filter: drop-shadow(0px 1px black) drop-shadow(0 -1px black) drop-shadow(1px 0 black) drop-shadow(-1px 0 black);
    background: rgba(255, 255, 255, 0);
    border: 2px solid #e5bcff;
    text-decoration: none;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.212);
    transition: .5s ease all;
}

#rover2 img {
    width: 113px;
}


#rovermarq {
    position: absolute;
    margin-top: 194px;
    margin-left: -238px;
    width: 117px;
    color: #e5bcff;
    font-size: 16px;
    filter: drop-shadow(0px 1px black) drop-shadow(0 -1px black) drop-shadow(1px 0 black) drop-shadow(-1px 0 black);
}


#current {
    position: absolute;
    background-color: #261f59;
    color: #e5bcff;
    padding: 5px;
    font-size: 12px;
    width: 115px;
    height: 130px;
    margin-left: 185px;
    margin-top: -198px;
    border: 4px double #9f97db;
    z-index: 999999;
}

#cbr {
    background: #140e3b;
    width: 20px;
    line-height: 15px;
    padding: 3px;
    margin-right: 3px;
    color: #e2cfcf;
    filter: drop-shadow(0px 1px black) drop-shadow(0 -1px black) drop-shadow(1px 0 black) drop-shadow(-1px 0 black);
}





@media screen and (max-width: 650px) {

    #wait {
        transform: scale(0.7);
        margin-left: 90px;
    }

    #wait2 {
        transform: scale (0.7);
        margin-top: 80px;
        margin-left: 30px;
    }

    #linklist {
        margin-top: -150px;
    }

    #kriselle {
        margin-top: -190px;
    }

    #calendar {
        margin-top: -100px;
    }

    #current {
        margin-top: 230px;
        margin-left: -40px;
    }

    #ndiv3 {
        display: none;
    }

    .link_content {
        margin-top: 190px;
        margin-left: -350px;
    }

    .shrine_content {
        margin-top: 150px;
        margin-left: -370px;
    }

    .sitemap_content {
        margin-top: 250px;
        margin-left: -350px;
    }
}
