.lastfm {
  transform: scale(0.7);
  color: rgba(61, 55, 87, 0);
  margin-top: -60px;
  margin-left: 245px;
  position: absolute;
  font-family: bios;
  font-size: 14px;
  line-height: 12px;
  z-index: 3;

}

.lastfm a {
color: rgba(211, 211, 211, 0); 
pointer-events: none; 
}

.lastfm .lfm-img {
  width: 0px;
}

.lastfm .maravillosoTitulo {
  width: 10px;
  font-size: 0px;
}

.lastfm .scrbls {
  font-size: 13px;
  width: 120px;
  margin-left: 70px;
  text-align: right;
  z-index: 3;
  display: none;
}

.lastfm .slimScrollDiv {
  width: 180px !important;
}

.slimScrollDiv {
  height: 210px !important;
}

.lastfm .track {
  text-align: right;
  padding: 4px;
  border: 1px solid #1a2330;
  background: #1a2330;
  color: #968f8f;
  width: 105px;
  margin: 2px;
  border-radius: 2px;
}

.lastfm .img>img {
  width: 35px;
  border: 1px rgb(145, 58, 58) dotted;
  margin-top: 2px;
  border-radius: 1px;
}

.lastfm .shd-cntA {
  display: none;
}

.track.now {
  color: #caaeb3;
  background: #202a38;
}

.lastfm .shd-cntA {
  display: none; 
}


@media only screen and (max-width: 640px) {
  .lastfm {
    margin-top: -60px;
    left: -7px;
  }

  .lastfm .slimScrollDiv {
    width: 190px !important;
  }

  .slimScrollDiv {
    height: 212px !important;
  }

  .lastfm .scrbls {
    font-size: 17px;
    width: 160px;
    margin-left: -0px;
    text-align: right;
    z-index: 3;
  }

  .lastfm .track {
    width: 5px;
  }
}
