.lastfm {
  transform: scale(0.9);
  color: rgba(133, 122, 184, 0);
  margin-top: -350px;
  margin-left: -1px;
  position: absolute;
  font-family: bios;
  font-size: 13px;
  line-height: 12px;
  z-index: 3;
  filter: drop-shadow(0 3px #2c2727) drop-shadow(2px 0 #575e6d00) drop-shadow(0 -2px #302e2e) drop-shadow(-3px 0 #575e6d00);
  filter: drop-shadow(0 -1mm 1mm rgb(80, 61, 61));
}

.lastfm a {
color: rgba(211, 211, 211, 0); 
pointer-events: none; 
}

.lastfm .lfm-img {
  width: 0px;
}

.lastfm .maravillosoTitulo {
  width: 10px;
  font-size: 0px;
}

.lastfm .scrbls {
  font-size: 13px;
  width: 120px;
  margin-left: 70px;
  text-align: right;
  z-index: 3;
  display: none;
}

.lastfm .slimScrollDiv {
  width: 180px !important;
}

.slimScrollDiv {
  height: 210px !important;
}

.lastfm .track {
  text-align: right;
  padding: 4px;
  border: 1px solid #be8fa5;
  background: #25151693;
  color: #e2cbcb;
  width: 105px;
  margin: 2px;
  border-radius: 10px;
}

.lastfm .img>img {
  width: 35px;
  border: 1px white solid;
  margin-top: 2px;
  border-radius: 5px;
}

.lastfm .shd-cntA {
  display: none;
}

.track.now {
  color: #c09898;
}

.lastfm .shd-cntA {
  display: none; 
}


@media only screen and (max-width: 640px) {
  .lastfm {
    margin-top: -350px;
    left: 5px;
  }

  .lastfm .slimScrollDiv {
    width: 190px !important;
  }

  .slimScrollDiv {
    height: 222px !important;
  }

  .lastfm .scrbls {
    font-size: 17px;
    width: 160px;
    margin-left: -0px;
    text-align: right;
    z-index: 3;
  }

  .lastfm .track {
    width: 5px;
  }
}
