::-webkit-scrollbar {
    width: 10px;
    height: 20px;
    }
    
    ::-webkit-scrollbar-track {
    background: #FFFFFF; 
    }
    
    ::-webkit-scrollbar-thumb {
    background: #7a8dc7; 
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: #404a4b; 
    transition: 0.9s;
    }
      @font-face {
        font-family: "Harabara";
        src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Harabara.otf")
          format("opentype");
      }
    
      @font-face {
      font-family: ms gothic;
      src: url(https://file.garden/Zagf2LAXJwHlct9M/MSGOTHIC.TTF);
    }

      @font-face {
        font-family: "Persona";
        src: url("https://file.garden/Zagf2LAXJwHlct9M/9usuuk.ttf")
      }

      * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }

      body {
        font-family: MS Gothic;
        left: 50%;
        top: 20%;
        transform: translate(0%, 40%);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: auto;    
        background: url("https://file.garden/Zagf2LAXJwHlct9M/newbg.png") no-repeat fixed center;
        -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;         
      }

      .header {
        position: absolute;
        font-family: Persona;
        font-weight: bold;
        font-size: 22px;
        margin-left: 240px;
        margin-top: -420px;
        transform: rotate(-5deg);
        width: 390px;
        color: white;
        text-align: left;
        filter: drop-shadow(0px 1px black) drop-shadow(0 -1px black) drop-shadow(1px 0 black) drop-shadow(-1px 0 black);
      }

      .container {
        width: 490px;
        display: grid;
        grid-template-areas:
          "box1 box2"
          "box1 box2"
          "box3 box2"
          "box3 box4"
          "box3 box4"
          "box3 box4"
          "box5 box5";
        grid-template-columns: repeat(auto-fit, calc(100% / 2));
        grid-template-rows: 70px repeat(5, 65px);
        place-items: center;
        gap: 10px;
        overflow: visible;
        position: relative;
      }

      .grid-item {
        height: 100%;
        width: 100%;
        padding: 1rem;
      }


      .box3 {
        grid-area: box3;
        width: 280px;
        height: 400px;
        margin-left: 340px;
        margin-top: -120px;
        z-index: 0;
        
      }

      .box3bg {
        grid-area: box3;
        background: white;
        border: 3px double #85a5bc;
        border-image-outset: 8px;
        width: 290px;
        transform: rotate(-5deg);
        border-radius: 20px;
        height: 420px;
        margin-top: -130px;
        margin-left: 320px;
        z-index: -3;
        filter: drop-shadow(5px 12px 5px #181f44);
        pointer-events: none;
      }

      .scroll-inner {
        display: block;
        height: 100%;
        width: 98%;
        margin: auto;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0 0.1rem;
      }

      .title {
        display: block;
        width: 100%;
        padding-left: 15px;
        font-family: Persona;
        font-size: 20px;
        color: white;
        background-clip: text;
        filter: drop-shadow(0px 1px #7a8dc7) drop-shadow(0 -1px #7a8dc7) drop-shadow(1px 0 #7a8dc7) drop-shadow(-1px 0 black);
          transform: rotate(-1deg);   
      }

      .title2 {
        display: block;
        width: 100%;
        padding-left: 15px;
        font-family: Persona;
        font-size: 20px;
        color: white;
        background-clip: text;
        filter: drop-shadow(0px 1px #7a8dc7) drop-shadow(0 -1px #7a8dc7) drop-shadow(1px 0 #7a8dc7) drop-shadow(-1px 0 black); 
          transform: rotate(1deg);
      }


      .label {
        padding-top: 2px;
        padding-bottom: 2px;
        color: var(--offwhite);
        background: transparent;
        background: #7a8dc7;
        border-radius: 5px;
        padding-left: 5px;
        padding-right: 5px;
        display: inline-block;
        color: white;
        margin-top: 0.5rem;
        font-family: "Harabara";
      }


      #tarot {
        position: absolute;
        width: 120px;
        transform: rotate(20deg);
        pointer-events: none;
      } 

      #tarot img {
        width: 80px;
        margin-top: 140px;
        margin-left: 270px;
        filter: drop-shadow(5px 12px 5px #181f44);
        box-shadow: white 2px 2px 2px 2px; 
        animation-name: grow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
      }

      #akihiko {
        position: absolute;
        z-index: -2;
        margin-left: -220px;
        margin-top: -50px;
        filter: drop-shadow(3px 3px 3px #181f44);
        animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    pointer-events: none;
      }
      
a:hover {
    color: black; 
    transition: 2s ease-out;
    filter: drop-shadow(5px 2px 5px #181f44);

}

      @keyframes grow {
        0%, 100% {
          transform: scale(100%) rotate(-8deg);
        }   
        50% {
          transform: scale(105%) rotate(-8deg);           
        }
      }

      @keyframes floating {
    0% { transform: translate(0,  0px) rotate(-25deg); }
    50%  { transform: translate(0, 15px) rotate(-25deg); }
    100%   { transform: translate(0, -0px) rotate(-25deg); }    
}

@media only screen and (max-width: 640px) {
body { 
    transform: translate(0%, 30%);
    margin-top: 20%;
    transform: scale(0.8);
}

.header {
    width: 320px;
    margin-left: 160px;
}
}
